body {
  background-color: white;
}

.imageLogo {
  margin-top: 0px;
  position: absolute;
  width: 500px;
  height: 200px;
  left: 500px;
  top: 26px;
}

/* Grey Button */

/* Buttons */
.logOutBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 155px;
  height: 49px;
  left: 1090px;
  top: 27px;

  background: #76777b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.previousBtn {
  width: 155px;
  height: 49px;
  left: 1090px;
  top: 27px;
  background: #76777b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

/* Choose your Avatar */

.chooseAvatar {
  position: absolute;
  margin-top: 70px;
  width: 320px;
  height: 58px;
  left: 500px;
  top: 166px;

  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 58px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

/*Avatars*/
.Avatar1 {
  position: absolute;
  margin-top: 325px;
  margin-left: 290px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.Avatar2 {
  position: absolute;
  margin-top: 325px;
  margin-left: 495px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}

.Avatar3 {
  position: absolute;
  margin-top: 325px;
  margin-left: 689px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}

.Avatar4 {
  position: absolute;
  margin-top: 325px;
  margin-left: 899px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}
.Avatar5 {
  position: absolute;
  margin-top: 500px;
  margin-left: 290px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}

.Avatar6 {
  position: absolute;
  margin-top: 500px;
  margin-left: 495px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}

.Avatar7 {
  position: absolute;
  margin-top: 500px;
  margin-left: 689px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}

.Avatar8 {
  position: absolute;
  margin-top: 500px;
  margin-left: 899px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 1.23%;
}
