img {
  position: absolute;
  margin-top: 92px;
  margin-left: 274px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.welcomeImage {
  position: absolute;
  width: 292px;
  height: 200px;
  left: -200px;
  top: 198px;
}

.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;

  position: absolute;
  width: 305px;
  height: 178px;
  left: 467px;
  top: 298px;

  background: #f7c845;
  border-radius: 15px;
}

.container1Text {
  position: static;
  width: 223px;
  height: 90px;
  left: 44px;
  top: 44px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: none;
  line-height: 34px;
  text-align: center;

  color: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.logoPerson {
  left: -120px;
  top: -60px;
}

.needHelp {
  position: absolute;
  width: 237px;
  height: 44px;
  left: 497px;
  top: 481px;

  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.container2 {
  position: absolute;
  margin-top: 18px;
  margin-left: 106px;
  width: 360px;
  height: 501px;
  left: 833px;
  top: 110px;

  background: #363636;
  border-radius: 15px;
}

.container3 {
  margin-top: 118px;
  margin-left: 40px;
  width: 250px;
  height: 150px;
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;
}

.styleinput {
  width: 250px;
  height: 36px;
  left: 872px;
  top: 259px;
  background: rgba(247, 200, 69, 0.63);
  border-radius: 5px;
}

.textForgotPassword {
  width: 80px;
  height: 16px;
  left: 1047px;
  top: 355px;
  margin-left: 160px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
}
.button1 {
  padding: 6px 12px;
  width: 100px;
  height: 36px;
  margin-top: 5px;
  margin-left: 30px;
  background: #f7c845;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.textSignUp {
  margin-top: 30px;
  margin-left: 30px;
  width: 129px;
  height: 17px;
  left: 948px;
  top: 477px;

  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}

.button2 {
  padding: 6px 12px;
  margin-left: 20px;
  width: 100px;
  height: 36px;
  background: #f7c845;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
