.title {
  color: #f7c845;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 15px;
  margin-left: 500px;
  text-decoration-line: underline;
  margin-bottom: 50px;
}

img {
  background: white;
}

.questions {
  margin-left: 500px;
  padding: 5px;
  width: 240px;
  height: 40px;
  background: #f7c845;
  border-radius: 5px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}
.answers {
  padding: 5px;
  height: 80px;
  border-radius: 5px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border-top: none;
  color: black;
}

.answers2 {
  padding: 5px;
  height: 120px;
  border-radius: 5px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border-top: none;
  color: black;
}
.answers3 {
  padding: 5px;
  height: 270px;
  border-radius: 5px;
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  border-style: solid;
  border-color: black;
  border-top: none;
  color: black;
}

.goBackToDashboard {
  font-family: Marvel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: #4aa96c;
  margin-left: 1000px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.keywords {
  color: black;
  font-size: medium;
}
